<h2>Log In</h2>

<%= form_tag manifest_sessions_path, action: :create do %>
  <div class='field'>
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email] %>
  </div>

  <div class='field'>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class='actions'><%= submit_tag 'Log In' %></div>
<% end %>
