<% if @content_block.errors.any? %>
  <div class='form-errors'>
    <h3>Whoops!</h3>

    <p>Please correct the following errors:</p>

    <ul>
      <% @content_block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div><!-- form-errors -->
<% end %>

<%= form_for [:manifest, @content_block], builder: Manifest::LabelledFormBuilder do |f| %>
  <% if current_editor.admin? %>
    <%= f.text_field :title %>
  <% else %>
    <p><strong>Title:</strong> <%= @content_block.title %></p>
  <% end %>

  <% if current_editor.admin? %>
    <%= f.collection_select :page_id, Page.all, :id, :title %>
  <% else %>
    <p><strong>Page:</strong> <%= @content_block.page ? @content_block.page.title : 'No page' %></p>
  <% end %>

  <% if current_editor.admin? %>
    <%= f.check_box :allow_html %>
  <% end %>

  <% if @content_block.allow_html? %>
    <%= f.text_area :content, class: 'tinymce' %>
  <% else %>
    <%= f.text_area :content %>
  <% end %>
  <%= f.submit %>
<% end %>
