<h2>Content Blocks</h2>

<% if @content_blocks.count > 0 %>
  <table>
    <thead>
      <th>Title</th>
      <th>Page</th>
      <th>Created</th>
      <th>Updated</th>
    </thead>

    <tbody>
      <% @content_blocks.each do |c| %>
        <tr>
          <td><%= link_to c.title, edit_manifest_content_block_path(c) %></td>
          <td><%= link_to c.page.title, manifest_page_path(c.page) %></td>
          <td><%= c.created_at.to_s(:short) %></td>
          <td><%= c.updated_at.to_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_editor.admin? %>
  <div class='model-actions'>
    <%= link_to 'New Content Block', new_manifest_content_block_path %>
  </div><!-- model-actions -->
<% end %>
