<h2><%= table_name %></h2>

<%% if @<%= table_name %>.count > 0 %>
<table id='table:<%%= controller_name %>'>
  <thead>
    <% attributes.each do |attribute| -%>
      <th><%= attribute.name.humanize %></th>
    <% end -%>
  </thead>

  <tbody>
    <%% @<%= table_name %>.each do |<%= table_name[0] %>| %>
      <%%= content_tag_for(:tr, <%= table_name[0] %>) do %>
        <% attributes.each do |attribute| -%>
          <td><%%= <%= table_name[0] %>.<%= attribute.name %> %></td>
        <% end -%>
      <%% end %>
    <%% end %>
  </tbody>
</table>
<%% end %>

<div class='model-actions'>
  <%%= link_to 'New <%= name %>', new_manifest_<%= name.underscore %>_path %>
</div>
